form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    box-shadow: 0, 2px, 8px rgba(0, 0, 0, 0.22);
    border: solid 1px gray;
    max-width: 40rem;
    width: 90%;
    border-radius: 10px;
    margin: 0 0 3rem 3rem;
}


/* label {
    padding: 1rem;
} */

.contact-heading {
    margin: 3rem;
}

.the-form button {
    padding: 0.7rem;
    border-radius: 11px;
    background-color: #004225;
    width: 7.5rem;
    color: white;
    font-weight: 500;
    font-size: large;
    margin: 0.6rem 0;
}

form #id_firstname,
form #id_lastname,
form #id_message,
form #id_file {
    margin: 0 0 1rem 0;
}

.the-form button:hover {
    background-color: #E5F9DB;
    color: black;
}