{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "my_blog/index.css" %}">
<link rel="stylesheet" href="{% static "my_blog/about.css" %}">
{% endblock %}

{% block content %}
{% include "my_blog/includes/header.html" %}

{% comment %} Above the fold layout {% endcomment %}
<section class="ATF">
    <div class="ATF-hero1">
        <a href="{% url "trending-page"%}"><img src="{% static 'my_blog/images/blog_hero1.webp' %}" alt="blog image" class="blog_hero1 solid-image"></a>
        <div class="CTA-btns">
            <h4><a href="https://github.com/Stefan-Aikins">my github</a></h4>
            <h4><a href="https://www.linkedin.com/in/stefan-asiedu-aikins/">linkedIn</a></h4>
        </div>
    </div>
    <div class="ATF-hero3">
        <img src="{% static 'my_blog/images/blog_hero3.jpeg' %}" alt="blog hero image" class="blog_hero3 solid-image">
    </div>
</section>

<div class="about-me">
    <p class="about-me__p">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).<br><br>

        t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).<br><br>

        t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
</div>

{% include "my_blog/includes/footer.html" %}
{% endblock %}