{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Page Title{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'app.css' %}">
        <link rel="shortcut icon" href="{% static 'my_blog/images/my_pp/favicon.ico' %}">
        {% block css_files %}{% endblock %}
    </head>
    <body>

        {% block content %}
        main-page
        {% endblock %}

        <footer>
        {% block footer %}
        {% endblock %}
        </footer>
    </body>
</html>